@font-face {
    font-family: 'better-vcr';
    src: url(fonts/better-vcr-5.2.otf);
}

p {
	font-family: 'better-vcr';
	font: size 100px;;
	text-align: center;
	text-transform: capitalize;
	text-decoration: underline;
	font-style: italic;
	text-shadow: 10px -1px cornflowerblue;
	color: red;
	
}